@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 150%;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

/* Variables */
:root {
    --primærycolor: #E5B285;
    --secondaryColor: #ebc5a3;
    --backgroundsColor: #fbf2e7;
    --textColor: #675d51; 
    
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;

    --buttonHoverEffectColor: #b58156;
    --headerShadow: 4px 4px 4px #000000cc;
    --buttonShadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Playfair Display", serif;
} 

p {
    color: var(--textColor);
}

a, li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: "Playfair Display", serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* sticky navbar */
    position: sticky;
    top: 0;
    z-index: 9999;
    /* overflow: hidden; */

    padding: 1rem;
    background-color: var(--secondaryColor);
}

nav li a {
    border-bottom: 2px solid transparent ;
    transition: border-color 0.3s;
}

nav li a:hover{
    border-bottom: 2px solid #b58156;
}

.image-logo {
    width: 45px;
    height: 45px;
}
.navlogo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.logoname {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 25px;
}

nav li {
    font-weight: 500;
    font-size: 25px;
    margin-right: 10rem;
}

/* Dropdown */
nav ul {
    display: flex;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ebc5a3;
    min-width: 180px;
    flex-direction: column;
    padding: 1rem;
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    padding: 0.5rem 0;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Martin start */
header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.recipes-content {
    background-color: var(--backgroundsColor);
    margin-top: 1.5rem;
}

.recipes-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.recipes-header-content {
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.recipe-header h1 {
    margin-top: 1.5rem;
}

/* Filtrering */
.filtrering-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 8rem;
}

.filter button {
    display: inline;
    padding: 0.3rem 1rem;

    transition: 0.3s;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;

    color: white;
    background-color: var(--primærycolor);
    box-shadow: var(--buttonShadow);
}

.filter button:hover {
    background-color: var(--buttonHoverEffectColor);
}

.dropdown1 {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

    z-index: 1000;
}

.dropdown1.active {
    display: block;
}

.filter {
    position: relative;
}

.line {
    height: 2px;
    margin: 20px 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primærycolor);
}

/* Recipe cards */

.recipe-header h1 {
    margin-top: 1rem;
}

.recipe-cards {
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-items: center;
    margin-top: 5rem;
}

.recipe-card {
    background-color: var(--secondaryColor);
    max-width: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.recipe-card p {
    font-size: 16px;
    color: white;
}

.recipe-picture {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.image-recipe-wrapper {
    position: relative;
}

.course {
    background-color: #DA64EC;
    display: inline-block;
    padding: 0.3rem 0.3rem;

    position: absolute;
    bottom: -8px;
    left: 20px;
   
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    color: white;
}

h3 {
    color: white;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    min-height: 3rem;
}

.recipe-wrapper {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.minutes-difficulty {
    display: flex;
    justify-content: space-evenly;
    gap: 4.5rem;
    margin-top: 1rem;
}

.kokkehuer {
    font-size: 20px;
    color: white;
   
}

/* button style */
#makeNow-button {
    display: block;
    margin: 20px auto;


    margin-top: 1rem; 
    margin-bottom: 1rem;
    padding: 0.4rem 4rem;
    transition: 0.3s;

    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--primærycolor);
    box-shadow: var(--buttonShadow);
    color: white;
    font-size: 15px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

/* Button effect */
#makeNow-button:hover {
    background-color: var(--buttonHoverEffectColor);
}

/* lerke start */

/* Sebastian start */

/* Anton start */


/* Footer */
.newsletter-content {
    text-align: center;
    padding: 2.5rem;
    background-color: var(--primærycolor);
}

.logo-content p {
    color: white;
    font-size: 26px;
}

/* Display block bruges til at få label-navn til at stå ovenover inputfeltet, da det er en inline-element */
label {
    display: block;
    text-align: left;
    font-family: "Playfair Display", serif;
}

input {
    padding: 1.3rem;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 500px;
    border: none;
    font-style: italic;
    font-size: 17px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    color: white;
    font-size: 20px;
}

#email-help {
    font-size: 15px;
    font-style: italic;
}

#subscribe-button {
    background-color: var(--secondaryColor);
    border: none;
    color: white;
    box-shadow: var(--buttonShadow);
    cursor: pointer;
    transition: 0.3s;
    
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 500;
}

/* hover effect */
#subscribe-button:hover {
    background-color: var(--buttonHoverEffectColor);
}

/* Copyrightbar-container */
.copyrightbar {
    padding: 0.9rem;
    background-color: var(--secondaryColor);
}

.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.copyright-container p {
    color: white;
    font-weight: 500;
    font-family: "Playfair Display", serif;
}
